fastapi==0.115.12
uvicorn==0.35.0

streamlit==1.46.1

huggingface-hub==0.34.4
httpx==0.28.1
requests==2.32.4

python-dotenv==1.1.1

beautifulsoup4==4.13.4

pydantic==2.11.7
starlette==0.46.2

typing-extensions==4.14.1